<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<div id="banner" class="navbar navbar-default navbar-fixed-top">
    <h1>FORUM</h1>

<div>
        <div th:if="${invalidInfo != null}" class="text-danger">
            <small th:text="${invalidInfo}"></small>
        </div>
    <form  class="form-inline" th:action="@{/login}" method="post">
        <div  class="form-group mb-2">
            <label class="sr-only">Email</label>
            <input id="loginInput1" type="text" class="form-control" th:name="email" placeholder="email@example.com">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label class="sr-only">Password</label>
            <input id="loginInput2" type="password" class="form-control" th:name="password" placeholder="Password">
        </div>
        <div  class="form-group mb-2">
        <button id="loginButton" type="submit" class="btn">Login</button>
        </div>
    </form>

        <small id="register" class="text">Do not have an account yet? <a href="register"><u>Just Register here.</u></a></small>
</div>


</div>



<style>

    body{
        background-color: rgb(240, 240, 240);
    }
    #banner {
        height: 110px;
        background-color: white;
        box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.2);
    }
    #loginInput1,#loginInput2{
        padding: 2px 15px;
    }
    #loginButton{
        padding: 2px 15px;

    }
    #register{
        align: right;
    }

</style>
</body>
</html>